#nav-bar {
  position: fixed,top;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  height: 80px;
  padding-left: 2em;
  padding-right:2em;
  &:hover {
	background-color:#e8e7e7;
  }

  .logo {
 	width:80px;
 	height:80px;
 	float:left;
  }
  .header{
 	font-size: 24pt;
 	line-height: 80px;
 	float: left;
 	padding-left: 10px;
  }

 .compose-tweet{
 	height:40px;
 	float: right;
 	margin-top:20px;
 	margin-left:10px;
 	margin-right:px;
 	margin-bottom:10px;
 	border-radius: 10px;
 	background-color: white;
 	position:relative;
 	& :hover {
 		background-color: grey;

 	}
 }

}