.tweet {
	background-color: white;
	font-family: 'Roboto Condensed', sans-serif;
	border-width: 1px;
	border-color: #D3D3D3;
	width:384px;
	margin: 2em;
	border-radius: 5px;
	border-style: solid;
}

.tweet-header {
	background-color: white;
	height:40px;
	width:382px;
	border-radius: 4px;
}

.tweet:hover .tweet-header,
.tweet:hover .header-text,
.tweet:hover .user-handle,
.tweet:hover .tweet-footer
 {
	background-color: #A9A9A9;
	color: white;
}

.tweet-footer {
	background-color: white;
	height:20px;
	border-radius: 5px;
}
/*Action icons.....................*/
.fa-heart {
	float:right;
}
.fa-retweet {
	float:right;
}
.fa-flag {
	float:right;
}
.avatar{
	width:30px; 
	height:30px;
	margin: 5px;
	float:left; 
	border-radius: 50%;
}
/*..................................*/

.header-text{
	font-size: 10pt;
	line-height: 2px;
 	padding-left: 2px;
 	color:black;
 	float:left;
 	font-weight: bold;
}

.user-handle{
	float: right;
	margin-right:5px;
	margin-top: 5px;
	font-size:10pt;
}

.tweet-text{
	margin:20px;
	color: black;
}

.time-posted{
	font-size: 7pt;
	margin:5px;
	padding-top: 3px;
	text-align: left;
}
